/* app.css */

#draggable {
    width: 50px;
    height: 50px;
}

#resizable {
    width: 50px;
    height: 50px;
}

.container {
    position: relative;
    width: 800px;
    height: 800px;
}

.desk {
    position: absolute;
    width: 250px; /* Set the desired width of each desk */
    height: 150px; /* Set the desired height of each desk */
    background-color: #ffcc00; /* Set the background color */
    border: 1px solid #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.symbol {
    font-weight: bold;
}

.name {
    margin-top: 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
